nav {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    top: 50px;
    left: 3vw;
    position: absolute;
}

nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    font-weight: bolder;
    border-radius: 10px;
}

nav a:hover {
    background-color: #000;
    color: #fff;
    transition: .2s;
}