/*largura da scrollbar*/
::-webkit-scrollbar {
    width: 8px;
}

/*Track - local aonde a barra vai rolar*/
::-webkit-scrollbar-track {
    background-color: #fff;
}

/*handle - Barra de clique da barra*/
::-webkit-scrollbar-thumb {
    background-color: rgb(95, 95, 95);
}

/*handle on hover*/
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(102, 102, 102);
}