* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

/*config img e textos*/
main section.apresentacao h1 {
    width: 100%;
    font-size: 4em;
    font-family: var(--font-h1-h2-a);
    font-weight: 900;
    margin-bottom: 20px;
}

main section.apresentacao h2 {
    width: 100%;
    font-size: 1em;
    font-family: var(--font-h1-h2-a);
    font-weight: 300;
    margin-bottom: 10px;
}

main section.apresentacao p {
    font-size: .9em;
    font-family: var(--font-p);
    font-weight: 300;
}

main section.apresentacao .scribble {
    margin-left: -100%;
    margin-top: -10px;
}

main section.apresentacao picture img {
    width: 70px;
    transform: rotate(35deg);
}

main section.apresentacao div.container_botoes img {
    width: 15px;
    margin-left: 10px;
    transform: rotate(0deg);
}
/*config img e textos*/

/*@media for img e textos*/
@media screen and (max-width:1000px) {
    main section.apresentacao h1 {
        font-size: 3.4em;
        text-align: center;
    }

    main section.apresentacao .scribble {
        position: absolute;
        bottom: 0;
        margin: 0px 0px 20px 0px;
        
        transform: rotate(15deg) scale(.8);
    }

:root {
    --font-h1-h2-a: 'Montserrat Alternates', sans-serif;
    --font-p: 'Roboto', sans-serif;
}

/*conteudo do site*/
section.container {
    width: 100%;
    min-height: 100vh;
}