/*configurações gerais do site*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

:root {
    --font-h1-h2-a: 'Montserrat Alternates', sans-serif;
    --font-p: 'Roboto', sans-serif;
    --debug: 1px solid #000;
}
/*animações*/
@keyframes exemplo {
    from {
        max-width: 0px;
        padding: 0;
    }
    to {
        max-width: 100%;
    }
}

/*estilizações globais*/
a {
    font-family: var(--font-h1-h2-a);
    text-decoration: none;
    color: #000;
}

h1, h2 {
    font-family: var(--font-h1-h2-a);
}

p {
    font-family: var(--font-p);
}

/*main*/
main {
    width: 100%;
    height: 100vh;
    padding: 0px 0px 7vw 15vh;
    display: flex;
    flex-direction: column;
    background: url(../img/image_mask.png) no-repeat right fixed;
    background-size: 100vh;
}

/*media querie main*/
@media screen and (max-width:1000px) {
    main {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        background: url(../img/image_mask.jpg) no-repeat center fixed;
        background-size: cover;
    }
}

/*main > navegação*/
main nav {
    max-width: 50vw;
    height: 35px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}

main nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 0px 15px;
}

main nav a:hover {
    border: 1px solid rgb(245, 0, 192);
}
/*media querie nav*/
@media screen and (max-width:1000px) {
    main nav {
        display: none;
    }
}

/*main > section*/
main section.first_section {
    width: 40vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

main section.first_section h1 span.white_letter {
    max-width: 40vw;
    color: #fff;
    padding: 0px 15px;
    background: url(../img/forma_01.svg) no-repeat center;
    background-size: cover;
    display: block;
    animation-name: exemplo;
    animation-duration: 2s;
}

main section.first_section picture#scribble img {
    width: 60px;
    margin: -40px 0px 0px 0px;
    left: 50px;
    transform: rotate(40deg);
    position: absolute;
}
/*media querie main > section*/
@media screen and (max-width:1000px) {
    main section.first_section {
        width: 90%;
        justify-content: center;
    }

    main section.first_section h1 span.white_letter {
        width: 100%;
        height: 80px;
        font-size: 1.5em;
        display: initial;
        box-shadow: none;
        animation: none;
    }

    main section.first_section picture#scribble img {
        margin: 0px;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

/*h1 h2 p*/
main section.first_section h1 {
    font-size: 4em;
    margin-bottom: 10px;
}

main section.first_section h2 {
    font-size: 1em;
    margin-bottom: 15px;
}

main section.first_section p {
    font-size: .9em;
    margin-bottom: 20px;
}
/*media querie main > h1 h2 p*/
@media screen and (max-width:1000px) {
    main section.first_section h1, h2, p, a {
        color: #fff;
    }

    main section.first_section h1 {
        font-size: 2em;
    }
}

/*botoes e links externos*/
main section.first_section div.botoes {
    display: flex;
    align-items: center;
}

main section.first_section div.botoes a.button {
    font-weight: bolder;
    padding: 15px 30px;
    margin-right: 20px;
    background-image: linear-gradient(#250637, #6E0786, #DB00FF);
    color: #fff;
    border-radius: 10px;
}

main section.first_section div.botoes div.link_externo {
    width: max-content;
    display: flex;
    align-items: center;
}

main section.first_section div.botoes div.link_externo a {
    display: flex;
    align-items: center;
}

main section.first_section div.botoes div.link_externo img {
    width: 15px;
    margin-left: 5px;
}

main section.first_section div.botoes div.link_externo a:hover {
    text-decoration: underline;
}